*.[ao]
*.bz2
*.class
*.dll
*.elc
*.exe
*.fas
*.fasl
*.gz
*.lib
*.log
*.map*
*.obj
*.pyc
*.so
*.tmp
*.zip
*.orig
*.bak
*.beam
*fsl
*~
.hgignore
.hg/
hg-local/
hg-repos/
lisp/test-results/
python/*.txt
swig-cffi-pygdbm/
text/
webserver/

